/*confuguracion de mi contenedor*/
.contenedor-carta {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20%;
}

.carta {
    padding: 15px;
    width: 50%;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) ;
    margin: 20px;
    box-sizing: border-box;
}

.carta h2, .carta p {
    text-align: center;
}

/*Configuracion de la imagen de mi carta*/
.carta img {
    display: block;
    width: 40%;
    margin: 0 auto;
}